*{
    /* border: 1px solid; */
    font-family: Helvetica,Arial,sans-serif;
    /* margin: 2%; */
    /* background: whitesmoke; */
    font-weight: bold;
}
section{
    border: 1px solid gray;
    background: whitesmoke;
    padding: 1% 2%;
    margin: 1%;
}
button{
    cursor: pointer;
}

.box{
    /* border: 3px solid black; */
    padding: 2%;
}

a{
    text-decoration: none;
}

/* ### Fancy Buttons ### */

/* Facebook Style  */

.facebook-style-btn{
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 6px 12px;
}

/* facebook-style-dark */

.facebook-style-dark{
    -moz-box-shadow: inset 0 1px 0 0 #4d73bf; 
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf; 
    box-shadow: inset 0 1px 0 0 #4d73bf; 
    background: #4d73bf; 
    border: solid 1px #4d73bf;
    color:white;
    text-shadow: 0 1px 0 #3359a5;
}

.facebook-style-dark:hover{
    background: #2b54a7;
}

.facebook-style-dark:active{
    background: #1d4698;
    border-color: #1d4698;
}

/* facebook-style-light */

.facebook-style-light{
    background: #f6f7f9; 
    border: solid 1px #ced0d4;
    color:#4b4f56;
}

.facebook-style-light:hover{
    background: #e9ebee;
}

.facebook-style-light:active{
    background: #d8dede;
    border-color: #d8dede;
}

/* 3D Buttons */

/* btn-3d-1 */

.btn-3d-1{
    position:relative;
    background: orangered;
    border: none;
    color:white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16,100%,30%);
    outline: none;
}

.btn-3d-1:hover{
    background: hsl(16,100%,45%);
}

.btn-3d-1:active{
    background: hsl(16,100%,40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16,100%,30%);
}

.btn-3d-1::before{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0px;
    left: -6px;
}

.btn-3d-1::after{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    background: none;
    right: 0;
    bottom: -6px;
}

.btn-3d-1:active::before{
    border:solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn-3d-1:active::after{
    border:solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

/* btn-3d-2 */

.btn-3d-2{
    position: relative;
    background: #ecd300;
    background: -webkit-radial-gradient(hsl(54,100%,50%),hsl(54,100%,40%));
    background: -o-radial-gradient(hsl(54,100%,50%),hsl(54,100%,40%));
    background: -moz-radial-gradient(hsl(54,100%,50%),hsl(54,100%,40%));
    background: radial-gradient(hsl(54,100%,50%),hsl(54,100%,40%));

    font-size: 1.4rem;
    text-shadow: 0 -1 0 #c3af07;
    color: white;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width:120px;
    z-index: 4;

    outline: none;

    box-shadow: inset 
    0 1px 0 hsl(54, 100%, 50%),
    0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%),
    0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%),
    0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%),
    0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.btn-3d-2:hover{
    background: -webkit-radial-gradient(hsl(54,100%,45%),hsl(54,100%,35%));
    background: -o-radial-gradient(hsl(54,100%,45%),hsl(54,100%,35%));
    background: -moz-radial-gradient(hsl(54,100%,45%),hsl(54,100%,35%));
    background: radial-gradient(hsl(54,100%,45%),hsl(54,100%,35%));
}

.btn-3d-2:active{
    background: -webkit-radial-gradient(hsl(54,100%,43%),hsl(54,100%,33%));
    background: -o-radial-gradient(hsl(54,100%,43%),hsl(54,100%,33%));
    background: -moz-radial-gradient(hsl(54,100%,43%),hsl(54,100%,33%));
    background: radial-gradient(hsl(54,100%,43%),hsl(54,100%,33%));

    top: 2px;

    box-shadow: inset 
    0 1px 0 hsl(54, 100%, 50%),
    0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%),
    0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%),
    0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%);
}

/* Gradient Bordered Buttons */

/* gradient-button-1 */

.gradient-button-1{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 10px transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease;
}

.gradient-button-1:hover{
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
}

/* gradient-button-2 */

.gradient-button-2{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 4px transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease;
}

.gradient-button-2:hover{
    background-image: linear-gradient(to right, orangered, transparent);
    color: white;
    border-right-style: none;
}

/* Animated Buttons */

/* animated-button-1 */

.animated-button-1{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;

    background-image: url(../images/pattern.png);
    background-size: 40px 40px;
    border: solid 1px #555;
    color: white;
    transition: all ease 0.3s;
}

.animated-button-1:hover{
    animation:loading-button-animation 2s linear infinite;
}

@keyframes loading-button-animation {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 40px 0;
    }
}

/* animated-button-2 */

.animated-button-2{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-size: 40px 40px;
    border: solid 1px #555;
    color: white;
    transition: all ease 0.3s;
}

.animated-button-2:after{
    position: absolute;
    top: 30%;
    right: 0.9em;
    content: "»";
    transition: all ease 0.3s;
    opacity: 0;
}

.animated-button-2:hover{
    padding: 20px 60px 20px 20px;
}

.animated-button-2:hover::after{
    right: 1.2;
    opacity: 1;
}

/* Toggle Switch UI Buttons */

/* toggle-1  */

.toggle-1{
    font-family: Helvetica,Arial,sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-1__input{
    display: none;
}

.toggle-1__button{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f2395a;
    border: solid 1px #f2395a;
    color: white;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-1__button:before{
    position:absolute;
    top: 5px;
    left: 40px;
    content: "off";
    display: inline-block;
    height: 20px;
    padding: 0 3px;
    background: white;
    color: #f2395a;
    transition: all 0.3s ease;
}

.toggle-1__input:checked + .toggle-1__button{
    background-color: #00b3b4;
    border: solid 1px #00b3b4;
}

.toggle-1__input:checked + .toggle-1__button::before{
    left: 5px;
    content: "on";
    color: #00b3b4;
}

/* toggle-2 */

.toggle-2{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-2__input{
    display: none;
}

.toggle-2__button{
    position: relative;
    display: inline-block;
    line-height: 20px;
    text-transform: white;
    color: #aaa;
    border: solid 1px #ccc;
    padding:5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-2__button::before{
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    content: "";
    transition: all 0.3s ease;
    border-radius: 100%;
}

.toggle-2__input:checked + .toggle-2__button{
    background: #00b3b4;
    border-color: #00b3b4;
    color: white;
}

.toggle-2__input:checked + .toggle-2__button::before{
    background-color: white;
}


/* ### Cool Typography ### */

/* Shadow-typo */

.shadow-typo{
    position:relative;
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    color: #00b3b4;
    font-family: 'Pangolin', cursive;
    text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0,0,0,0.1);
}

/* 3D Type */

.threedee-typo{
    font-size: 4rem;
    text-transform: uppercase;
    color: #f2395a;
    font-family: 'Pangolin', cursive;
    transform: skew(-5deg,-5deg) rotate(5deg);
    transform-origin: center cneter;
    text-shadow: 1px 1px #d10e31,
    2px 2px #d10e31,
    3px 3px #d10e31,
    4px 4px #d10e31,
    5px 5px #d10e31,
    6px 6px #d10e31,
    7px 7px #d10e31,
    8px 8px #890920,
    9px 9px #890920,
    10px 10px #890920,
    11px 11px 15px rgba(0,0,0,0.5);
}

/* ### Clipping Images ### */

/* clip-image-1 */
.clip-image-1{
    clip-path: circle(50% at 50% 50%);
}

/* clip-image-2 */
.clip-image-2{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

/* clip-image-3 */
.clip-image-3{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

/* clip-image-4 */
.clip-image-4{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

/* ### Registration Form ### */

.register-wrapper{
    background-image: -webkit-linear-gradient(135deg,#0eeff0 30%,#088f90 90%);
    background-image: linear-gradient(135deg,#0eeff0 30%,#088f90 90%);;
    position: relative;
    z-index:3;
    padding: 100px;
    color: #999;
    font-size: 1rem;
}

.register-wrapper *{
    box-sizing: border-box;
}

.register-wrapper form input{
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    line-height: 50px;
    background: white;
    border: solid 1px #e6e6e6;
    border-bottom-width: 3px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

.register-wrapper form input:not(:last-child){
    margin-bottom: 20px;
}

.register-wrapper form input[type="email"]:focus,
.register-wrapper form input[type="email"]:active,
.register-wrapper form input[type="password"]:focus,
.register-wrapper form input[type="password"]:active{
    border-color: #ccc;
}

.register-wrapper form input[type="submit"]{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 20px;
    background-color: #f2395a;
    background-size: 20px 20px;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255,255,255, 0.15) 25%,
        rgba(0,0,0,0) 25%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(0,0,0,0) 75%,
        rgba(0,0,0,0)
    );
    border: solid 1px #f02146;
    border-bottom-width:3px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register-wrapper form input[type="submit"]:hover{
    background-size: 40px 40px;
}

.register-title{
    font-size: 1.6rem;
    padding-bottom: 20px;
    margin: 0 0 20px;
    border-bottom: dashed 1px #e6e6e6;
}

.register-block{
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.register-block:before,
.register-block:after{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: white;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    transform: scale(0.9) translate(0,0);
    transition: all 0.3s ease;
}

.register-block:after{
    transition-delay: 0.05s;
}

.register-block:hover::before{
    transform: scale(0.96) translate(0,16px);
    z-index: -1;
}

.register-block:hover::after{
    transform: scale(0.92) translate(0,32px);
    z-index: -2;
}

/* ### Broken Images ### */

.image {  
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;  
    text-align: center;
    min-height: 50px;
    width: 30%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 0 40px;
}

.image:before {  
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

.image:after {  
    content: "\01F517" attr(alt) " Not Found";
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}


/* ### Print Styles ### */

@media print{
    img{
        display: none;
    }

    body{
        font-family: Georgia,serif;
        font-size: 16pt;
        line-height: 24pt;
        color: #000;
    }

    section{
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        color: #000;
    }

    h1,h2,h3,h4,h5,h6{
        color: #000;
        font-size: 24pt;
        line-height: 30pt;
        margin: 0;
    }

    a:link{
        margin: 0;
    }

    a::after{
        content: " [" attr(href) "";
        color: #000;;
    }
}

/* ### Image Manipulation ### */
.sandbox img{
    transition: all 0.3s ease;
}

.sandbox img:hover{
    cursor:crosshair;
}

/* Manipulation-1 */
.grayscale{
    filter: grayscale(1);
}

.grayscale:hover{
    filter: grayscale(0);
}
/* Manipulation-2 */
.blur{
    filter: blur(3px);
}

.blur:hover{
    filter: blur(0);
}
/* Manipulation-3 */
.invert{
    filter: invert(1);
}

.invert:hover{
    filter: invert(0);
}
/* Manipulation-4 */
.sepia{
    filter: sepia(1);
}

.sepia:hover{
    filter: sepia(0);
}

/* ### 8-bit Mario ### */

.mariobtn{
    position: absolute;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 #00B3B4; 
    background: #00B3B4; 
    border: solid 1px #379AA4;
    color:white;
    text-align: center;
    text-shadow: 0 1px 0 #2C7982;
    margin: 0;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.mariobtn:hover{
    background: #0bbfc0;
}

.mariobtn:active{
    background: #2C7982;
    border-color: #2C7982;
}

.mario-block{
    display: inline-block;
    position: relative;
    margin: 80px auto;
    width: 16em;
    height: 16em;
}

#wahoo{
    outline: none;
}

#wahoo:active + .mario-block{
    animation: wahooMario 0.8s ease-in-out 1;
}

@keyframes wahooMario {
    0%{
        left: 0; 
        bottom: 0; 
        transform: rotate(0);
    }
    30% {
        left: 200px; 
        bottom: 200px; 
        transform: rotate(-25deg);
    }
    80% {
        left: 400px; 
        bottom: 0; 
        transform: rotate(0);}
    100% {left: 0; 
        bottom: 0;
    }
}

.mario{
    display: block;
    width: 1em;
    height: 1em;
    background-color: #e7eef1;
    box-shadow: 0em 0em #e7eef1,
                1em 0em #e7eef1,
                2em 0em #e7eef1,
                3em 0em #e7eef1,
                4em 0em #e7eef1,
                5em 0em #e7eef1,
                6em 0em #e7eef1,
                7em 0em #e7eef1,
                8em 0em #e7eef1,
                9em 0em #e7eef1,
                10em 0em #e7eef1,
                11em 0em #e7eef1,
                12em 0em #e7eef1,
                13em 0em #e7eef1,
                14em 0em #e7eef1,
                15em 0em #e7eef1,
                0em 1em #e7eef1,
                1em 1em #e7eef1,
                2em 1em #e7eef1,
                3em 1em #e7eef1,
                4em 1em #e7eef1,
                5em 1em red,
                6em 1em red,
                7em 1em red,
                8em 1em red,
                9em 1em red,
                10em 1em #e7eef1,
                11em 1em #e7eef1,
                12em 1em #ffc966,
                13em 1em #ffc966,
                14em 1em #ffc966,
                15em 1em #e7eef1,
                0em 2em #e7eef1,
                1em 2em #e7eef1,
                2em 2em #e7eef1,
                3em 2em #e7eef1,
                4em 2em red,
                5em 2em red,
                6em 2em red,
                7em 2em red,
                8em 2em red,
                9em 2em red,
                10em 2em red,
                11em 2em red,
                12em 2em red,
                13em 2em #ffc966,
                14em 2em #ffc966,
                15em 2em #e7eef1,
                0em 3em #e7eef1,
                1em 3em #e7eef1,
                2em 3em #e7eef1,
                3em 3em #e7eef1,
                4em 3em brown,
                5em 3em brown,
                6em 3em brown,
                7em 3em #ffc966,
                8em 3em #ffc966,
                9em 3em black,
                10em 3em #ffc966,
                11em 3em #e7eef1,
                12em 3em red,
                13em 3em red,
                14em 3em red,
                15em 3em #e7eef1,
                0em 4em #e7eef1,
                1em 4em #e7eef1,
                2em 4em #e7eef1,
                3em 4em brown,
                4em 4em #ffc966,
                5em 4em brown,
                6em 4em #ffc966,
                7em 4em #ffc966,
                8em 4em #ffc966,
                9em 4em black,
                10em 4em #ffc966,
                11em 4em #ffc966,
                12em 4em #ffc966,
                13em 4em red,
                14em 4em red,
                15em 4em #e7eef1,
                0em 5em #e7eef1,
                1em 5em #e7eef1,
                2em 5em #e7eef1,
                3em 5em brown,
                4em 5em #ffc966,
                5em 5em brown,
                6em 5em brown,
                7em 5em #ffc966,
                8em 5em #ffc966,
                9em 5em #ffc966,
                10em 5em black,
                11em 5em #ffc966,
                12em 5em #ffc966,
                13em 5em #ffc966,
                14em 5em red,
                15em 5em #e7eef1,
                0em 6em #e7eef1,
                1em 6em #e7eef1,
                2em 6em #e7eef1,
                3em 6em brown,
                4em 6em brown,
                5em 6em #ffc966,
                6em 6em #ffc966,
                7em 6em #ffc966,
                8em 6em #ffc966,
                9em 6em black,
                10em 6em black,
                11em 6em black,
                12em 6em black,
                13em 6em red,
                14em 6em red,
                15em 6em #e7eef1,
                0em 7em #e7eef1,
                1em 7em #e7eef1,
                2em 7em #e7eef1,
                3em 7em #e7eef1,
                4em 7em #e7eef1,
                5em 7em #ffc966,
                6em 7em #ffc966,
                7em 7em #ffc966,
                8em 7em #ffc966,
                9em 7em #ffc966,
                10em 7em #ffc966,
                11em 7em #ffc966,
                12em 7em red,
                13em 7em red,
                14em 7em #e7eef1,
                15em 7em #e7eef1,
                0em 8em #e7eef1,
                1em 8em #e7eef1,
                2em 8em red,
                3em 8em red,
                4em 8em red,
                5em 8em red,
                6em 8em blue,
                7em 8em red,
                8em 8em red,
                9em 8em red,
                10em 8em blue,
                11em 8em red,
                12em 8em red,
                13em 8em #e7eef1,
                14em 8em #e7eef1,
                15em 8em brown,
                0em 9em #ffc966,
                1em 9em #ffc966,
                2em 9em red,
                3em 9em red,
                4em 9em red,
                5em 9em red,
                6em 9em red,
                7em 9em blue,
                8em 9em red,
                9em 9em red,
                10em 9em red,
                11em 9em blue,
                12em 9em #e7eef1,
                13em 9em #e7eef1,
                14em 9em brown,
                15em 9em brown,
                0em 10em #ffc966,
                1em 10em #ffc966,
                2em 10em #ffc966,
                3em 10em red,
                4em 10em red,
                5em 10em red,
                6em 10em red,
                7em 10em blue,
                8em 10em blue,
                9em 10em blue,
                10em 10em blue,
                11em 10em yellow,
                12em 10em blue,
                13em 10em blue,
                14em 10em brown,
                15em 10em brown,
                0em 11em #e7eef1,
                1em 11em #ffc966,
                2em 11em #e7eef1,
                3em 11em #e7eef1,
                4em 11em blue,
                5em 11em red,
                6em 11em blue,
                7em 11em blue,
                8em 11em yellow,
                9em 11em blue,
                10em 11em blue,
                11em 11em blue,
                12em 11em blue,
                13em 11em blue,
                14em 11em brown,
                15em 11em brown,
                0em 12em #e7eef1,
                1em 12em #e7eef1,
                2em 12em brown,
                3em 12em brown,
                4em 12em brown,
                5em 12em blue,
                6em 12em blue,
                7em 12em blue,
                8em 12em blue,
                9em 12em blue,
                10em 12em blue,
                11em 12em blue,
                12em 12em blue,
                13em 12em blue,
                14em 12em brown,
                15em 12em brown,
                0em 13em #e7eef1,
                1em 13em brown,
                2em 13em brown,
                3em 13em brown,
                4em 13em blue,
                5em 13em blue,
                6em 13em blue,
                7em 13em blue,
                8em 13em blue,
                9em 13em blue,
                10em 13em #e7eef1,
                11em 13em #e7eef1,
                12em 13em #e7eef1,
                13em 13em #e7eef1,
                14em 13em #e7eef1,
                15em 13em #e7eef1,
                0em 14em #e7eef1,
                1em 14em brown,
                2em 14em brown,
                3em 14em #e7eef1,
                4em 14em #e7eef1,
                5em 14em #e7eef1,
                6em 14em #e7eef1,
                7em 14em #e7eef1,
                8em 14em #e7eef1,
                9em 14em #e7eef1,
                10em 14em #e7eef1,
                11em 14em #e7eef1,
                12em 14em #e7eef1,
                13em 14em #e7eef1,
                14em 14em #e7eef1,
                15em 14em #e7eef1,
                0em 15em #e7eef1,
                1em 15em #e7eef1,
                2em 15em #e7eef1,
                3em 15em #e7eef1,
                4em 15em #e7eef1,
                5em 15em #e7eef1,
                6em 15em #e7eef1,
                7em 15em #e7eef1,
                8em 15em #e7eef1,
                9em 15em #e7eef1,
                10em 15em #e7eef1,
                11em 15em #e7eef1,
                12em 15em #e7eef1,
                13em 15em #e7eef1,
                14em 15em #e7eef1,
                15em 15em #e7eef1;
}

/* ### Modern Layouts ### */

/* layout-1 */

.layout1 header{
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout1 article{
    border: 3px dotted gray;
    width: 50%;
    float:left;
    margin-bottom: 1%;
}

.layout1 aside{
    border: 3px dotted gray;
    width: 40%;
    float: right;
    margin-bottom: 1%;
}

.layout1 footer{
    border: 3px dotted gray;
    clear: both;
    margin-bottom: 1%;
}

/* layout-2 */

.layout2 header .logo{
    width: 20;
    float: left;
    margin: 0;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout2 header nav{
    width: 78%;
    float: right;
    margin: 0;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout2 ul li{
    display: inline;
}

.layout2 header::after{
    display: table;
    content: "";
    clear: both;
}

.layout2 article{
    width: 50%;
    margin-left: 2%;
    float: left;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout2 aside.sidenav{
    width: 23%;
    float: left;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout2 aside.sidebar{
    width: 23%;
    float: right;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout2 footer{
    border: 3px dotted gray;
    clear: both;
}


/* layout-3 */

.layout3 header .logo{
    width: 20%;
    float: right;
    margin: 0;
    border: 3px dotted gray;
    /* margin-bottom: 1%; */
}

.layout3 header nav{
    width: 78%;
    float: left;
    margin: 0;
    border: 3px dotted gray;
    margin-bottom: 1%;
}

.layout3 ul li{
    display: inline;
}

.layout3 header::after{
    display: table;
    content: "";
    clear:both;
}

.layout3 article{
    width: 31.5%;
    float: left;
    margin: 0 2% 1% 0;
    border: 3px dotted gray;
}

.layout3 article:last-child{
    margin: 0;
}

.layout3 .articles::after{
    display: table;
    content: "";
    clear: both;
}

.layout3 footer{
    border: 3px dotted gray;
    clear: both;
}

@media screen and (max-width: 768){
    .layout1 article,
    .layout1 aside,
    .layout2 header .logo,
    .layout2 header nav,
    .layout2 article,
    .layout2 aside.sidenav,
    .layout2 aside.sidebar,
    .layout3 article,
    .layout3 aside,
    .layout3 header .logo,
    .layout3 header nav {
        float: none;
        width: 100%;
        margin: 0 0 2%;
    }
}

/* ### Pricing Table ### */
.price-section{
    height: 40rem;
}

.price-table{
    margin: 60px auto;
}

.price-table::after{
    display: table;
    content: "";
    clear: both;
}

.pricing-table > div{
    display: block;
    float: left;
    width: 48%;
    min-height: 1px;
    background-color: #fff;
    color: #555;
}

.pricing-table > div:not(:last-child){
    margin-right: 2%;
}

.pricing-block{
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.pricing-header{
    height: auto;
    padding: 30px 20px 40px;
    text-transform: uppercase;
}

.pricing-header .pricing-heading{
    font-size: 1.4rem;
    font-weight: bold;
}

.pricing-price{
    color: #777;
}

.pricing-price > span{
    display: inline-block;
}

.pricing-price__currency{
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    opacity: 0.6;
}

.pricing-price__value{
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
}

.pricing-price__duration{
    margin-top: 10px;
    vertical-align: top;
    font-size: 1.4rem;
    line-height: 1;
    opacity: 0.6;
}

.pricing-body ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-body ul li{
    display: block;
    padding: 10px 20px;
    margin: 0;
}

.pricing-body ul li:nth-child(2n){
    background-color: #fff;
}

.pricing-body ul li:nth-child(2n+1){
    background-color: #f8f8f8;
}

.pricing-footer{
    padding: 40px 0 0;
}

.pricing-button,
.pricing-button:link,
.pricing-button:visited{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
}

.pricing-popular{
    margin-top: -20px;
}

.pricing-popular .pricing-header{
    padding-top: 50px;
}

.pricing-popular .pricing-footer{
    padding-top: 60px;
}

.pricing-popular .pricing-price{
    color: #ff8888;
}

.pricing-popular .pricing-button{
    background: #ff8888;
    color: #fff;
}

.pricing-popular .pricing-button:hover{
    color: #ff8888;
    background: #333;
}

@media screen and (max-width:1023px){
    .price-section{
        height: 50rem;
    }

    .price-table{
        margin: auto;
    }

    .pricing-table > div{
        float: none;
        width: 100%;
    }

    .pricing-table > div:not(:last-child){
        margin-right: 0;
        margin-bottom: 20px;
    }

    .pricing-body{
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }

    .pricing-body ul li{
        display: inline-block;
        vertical-align: middle;
    }

    .pricing-body ul li:not(:first-child){
        margin-left: -5px;
    }

    .pricing-body ul li:nth-child(2n){
        background-color: #e8e8e8;
    }

    .pricing-footer{
        padding-top: 0;
    }

    .pricing-popular{
        margin-top: 0;
    }

    .pricing-popular .pricing-heading,
    .pricing-popular .pricing-footer{
        padding-top: 30px;
    }
}

/* ### CSS Variables ### */

.var{
    --primary-color:orangered;
    --secondary-color:hotpink;
    --base-measurement:20px;
}

.var .box{
    text-align: center;
    --text-color:#f3f3f3;

    color: var(--text-color);

    background: var(--primary-color);

    margin: var(--base-measurement);

    height: calc(var(--base-measurement)*10);
    width: calc(var(--base-measurement)*10);
    line-height: calc(var(--base-measurement)*10);
}

.var .box2{
    background: var(--secondary-color);
}


/* ### Model Window ### */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay{
    pointer-events: auto;
    opacity: 0.9;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%) scale(0.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0;
}

input[type="checkbox"]:checked ~ .modal{
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s ease,opacity 0.5s ease;
    transition-delay: 0.1s;
}

.modal__content{
    display: block;
    padding: 30px;
    background: white;
}

/* ### PacMan & Ghost Animation ### */

.path{
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.path::after{
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white;
    width: 90%;
    top: 50%;
    left: 5%;
    margin-top: -6px;
}

.pacman{
    position: absolute;
    z-index: 98;
    top: 50%;
    left: -20px;
    animation: moveForward 5s linear infinite;
    animation-delay: 0.8s;
}

.pacman::before,
.pacman::after{
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
}

.pacman::after{
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
}

.ghost{
    position: absolute;
    z-index: 98;
    top: 50%;
    left: 20%;
    height: 70px;
    width: 60px;
    margin-top: -35px;
    background: red;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    animation: moveForward 5s linear infinite, blinker 0.5s linear infinite;
}

.ghost::before,
.ghost::after{
    content: "";
    position: absolute;
    background: white;
    height: 25px;
    width: 20px;
    border-radius: 100px;
    top: 15px;
    left: 4px;
}

.ghost::after{
    left: 28px;
}

.eyes::before,
.eyes::after{
    content: "";
    position: absolute;
    background: blue;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    top: 25px;
    left: 5px;
    z-index: 98;
    animation: peeperLeft 0.7s linear infinite;
}

.eyes::after{
    left: 30px;
    animation: peeperRight 0.7s linear infinite;
}

.skirt,
.skirt::before,
.skirt::after{
    position: absolute;
    height: 0;
    width: 0;
    border: solid 10px #333;
    bottom: -10px;
    border-top-color: transparent;
}

.skirt::before{
    content: "";
    left: 10px;
}

.skirt::after{
    content: "";
    left: 30px;
}


@keyframes moveForward{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }

}

@keyframes mouthTop{
    50%{
        transform: rotate(44deg);
    }
}

@keyframes mouthBottom{
    50%{
        transform: rotate(-44deg);
    }
}

@keyframes blinker{
    50%{
        background: hotpink;
    }
}

@keyframes peeperLeft {
    0%,
    100%{
        left: 5px;
    }
    50%{
        left: 10px;
    }
}

@keyframes peeperRight {
    0%,
    100%{
        left: 30px;
    }
    50%{
        left: 35px;
    }
}

/* ### Useful Tooltips ### */

.tooltip{
    position: relative;
    height: 60px;
    width: 250px;
    background: #f2395a;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    margin: 0 auto;
}

.tooltip::before{
    position: absolute;
    z-index: 2;
    display: none;
    width: 200px;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    content: attr(title);
}

.tooltip::after{
    position: absolute;
    z-index: 1;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    content: "";
}

.tooltip:hover::before,
.tooltip:hover::after{
    display: inline-block;
}

.tooltip.top::before{
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.top::after{
    bottom: 100%;
    left: 50%;
    border-top-color: rgba(0, 0, 0, 0.8) ;
    border-bottom-width: 0;
    transform: translateX(-50%);
}

.tooltip.right::before{
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.right::after{
    top: 50%;
    left: 100%;
    border-right-color: rgba(0, 0, 0, 0.8) ;
    border-left-width: 0;
    transform: translateY(-50%);
}

.tooltip.bottom::before{
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom::after{
    top: 100%;
    left: 50%;
    border-bottom-color: rgba(0, 0, 0, 0.8) ;
    border-top-width: 0;
    transform: translateX(-50%);
}


.tooltip.left::before{
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.left::after{
    top: 50%;
    right: 100%;
    border-left-color: rgba(0, 0, 0, 0.8) ;
    border-right-width: 0;
    transform: translateY(-50%);
}

/* ### Animated Progress Bars ### */

.animation-bar-1{
    position: relative;
    display: block;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25),0 1px rgba(255,255,255,0.8);
}

.animation-bar-1 span{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: #f56982;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f2395a,#b90c2b);
    animation: progress-bar-1 6s infinite ease;
}

.animation-bar-1 span::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-size: 100%;
    background-image: linear-gradient(45deg,
    #fff 25%,
    rgba(0,0,0,0) 25%,
    rgba(0,0,0,0) 50%,
    #fff 50%,
    #fff 75%,
    rgba(0,0,0,0) 75%,
    rgba(0,0,0,0)
    );

    background-size: 30px 30px;
    opacity: 0.3;
    animation: progress-bar-after-1 0.5s infinite linear;
}

@keyframes progress-bar-1{
    0%{
        width: 0%;
    }
    50%{
        width: 60%;
    }
}

@keyframes progress-bar-after-1{
    0%{
        background-position: 0 100%;
    }
    100%{
        background-position: 30px 100%;
    }
}

.animation-bar-2{
    position: relative;
    display: block;
    content: "";
    font-size: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25),0 1px rgba(255,255,255,0.8);
}

.animation-bar-2 span{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background-color: #00e6e7;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #00b3b4,#008081);
    animation: progress-bar-2 6s infinite ease;
}

.animation-bar-2 span::before{
    position: absolute;
    right: 0;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgba(0,0,0,1);
    content: "";
}

.animation-bar-2 span::after{
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);
    z-index: 1;
    display: inline-block;
    content: attr(data-label);
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

@keyframes progress-bar-2{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* ### Animated Pyramid ### */

.triangle{
    position: relative;
    height: 320px;
    clip-path: polygon(50% 0,
                    20% 100%,
                    80% 100%);
}

.triangle div{
    position: absolute;
    background: red;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    color: red;
    line-height: 100px;
    text-align: center;
    font-size: 0.8em;
    transition: all ease 0.6s;
}

.top{
    z-index: 1;
}

.triangle:hover div{
    color: white;
}

.triangle:hover .mid{
    top: 110px;
    background: green;
}

.triangle:hover .bottom{
    top: 220px;
    background: blue;
}